.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.product-card {
    border-radius: 15px;
    background-color: rgb(237, 243, 255);
    border: 1px solid #ccc;
    width: 250px;
}

.navbar {
    background: linear-gradient(to right, #00336d, #82bbed);
    width: 100%;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
    padding: 16px;
    width: 100%;
    height: auto;
    z-index: 2;
}

.product-info{
    padding: 10px;
    width: 1;
    height: 160px;
    position: relative;
    z-index: 1;
    background-color: rgb(213, 226, 253);
    border-radius: 4px;
}

.product-info p {
    text-wrap: balance;
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.header h1 {
    font-size: 36px;
    color: #fff;
    margin-left: 130px;
}

.header input {
    margin-right: 130px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.header input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}